*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #efebfa;
    position: relative;
}

nav{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px 0;
    align-items: right;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #5924ed;
}

.details{
    margin-left: 4%;
    margin-top: 8%;
    color: #efebfa;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #5924ed;
    
}

.details p{
    color: #555;
    line-height: 22px;
}

.details a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #efebfa;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 30%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .shape2{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

/* animations */
p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


nav {
  display: flex;
  gap: 0.5rem;
}

a {
  flex: 1;
  background-color: #efebfa;
  color: #fff;
  /* border: 1px solid; */
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: #efebfa;
  color: #333;
}
  

@keyframes bounce-left {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-40px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  h1 {
    animation: bounce-left 15s ease;
  }
